.header {
    display: inline-flex;
    flex-direction: row;
    flex: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 80;
    background-color: #1a1a1b;
    margin-top: 0;
    height: 48px;
    align-items: center;
    border-bottom: 1px solid #343536;
}

.header_holder {
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    flex-grow: 1;
    padding: 0 20px;
}

.header_main {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    flex-grow: 1;
}

.header_logo {
    min-height: 32px;
    padding: 8px 8px 8px 0;
    min-width: 32px;
}

.header_subreddit {
    margin: 0 0 0 24px;
    color: #ffffff;
}

.header_link {
    color: #ffffff;
}

.header_link:not(:first-child) {
    margin-left: 16px;
}